<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecenter.workflow.common.mapper.WorkflowMapper">

    <resultMap type="Workflow" id="WorkflowResult">
        <result property="workflowId"    column="workflow_id"    />
        <result property="workflowName"    column="workflow_name"    />
        <result property="workflowDesc"    column="workflow_desc"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWorkflowVo">
        select workflow_id, workflow_name, workflow_desc, create_time, update_time from workflow
    </sql>

    <select id="selectWorkflowList" parameterType="Workflow" resultMap="WorkflowResult">
        <include refid="selectWorkflowVo"/>
        <where>
            <if test="workflowName != null  and workflowName != ''"> and workflow_name like concat('%', #{workflowName}, '%')</if>
            <if test="workflowDesc != null  and workflowDesc != ''"> and workflow_desc = #{workflowDesc}</if>
        </where>
    </select>

    <select id="selectWorkflowByWorkflowId" parameterType="Long" resultMap="WorkflowResult">
        <include refid="selectWorkflowVo"/>
        where workflow_id = #{workflowId}
    </select>

    <insert id="insertWorkflow" parameterType="Workflow" useGeneratedKeys="true" keyProperty="workflowId">
        insert into workflow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workflowName != null">workflow_name,</if>
            <if test="workflowDesc != null">workflow_desc,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workflowName != null">#{workflowName},</if>
            <if test="workflowDesc != null">#{workflowDesc},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateWorkflow" parameterType="Workflow">
        update workflow
        <trim prefix="SET" suffixOverrides=",">
            <if test="workflowName != null">workflow_name = #{workflowName},</if>
            <if test="workflowDesc != null">workflow_desc = #{workflowDesc},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where workflow_id = #{workflowId}
    </update>

    <delete id="deleteWorkflowByWorkflowId" parameterType="Long">
        delete from workflow where workflow_id = #{workflowId}
    </delete>

    <delete id="deleteWorkflowByWorkflowIds" parameterType="String">
        delete from workflow where workflow_id in
        <foreach item="workflowId" collection="array" open="(" separator="," close=")">
            #{workflowId}
        </foreach>
    </delete>
</mapper>